gensim==3.4.0
numpy==1.17.2
pandas==0.25.1
pytorch-transformers==1.1.0
scikit-learn==0.21.3
scipy==1.3.1
sentence-transformers==0.2.3
sentencepiece==0.1.83
tensorflow-gpu==1.15.0
tf-sentencepiece==0.1.83
tqdm==4.36.1
unidecode
twython
pyyaml
